<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
</head> 
<body>   
    <div class="bar">
        <span href="/">Home</span>
        <span href="/lostwave">Lostwave</span>
        <span>Home</span>
        <span>Home</span>
		<span id="login">Login</span>
    </div>
    <div class="center">
        <iframe src="/login" style="visibility: hidden;" id="loginiframe"></iframe>
    </div>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
